@model IEnumerable<ThatsLife.Models.StockQuote>

    <div class="d-none d-md-block d-lg-block m-2">
        @if (@Model.First().IsUSMarketOpen)
        {
            <p class="text-success h6 border-bottom">US Markets Open</p>
        }
        else
        {
            <p class="text-danger small  border-bottom">US Markets Closed</p>
        }


        <div class="row border-bottom pb-4">
            @foreach (var stock in Model)
            {
                <div class="col border-right border-left">
                    <div class="font-weight-bolder">
                        @stock.Symbol
                        <span class="float-right font-weight-light">@string.Format("{0:C}", @stock.LatestPrice)</span>
                    </div>

                    @if (@stock.ChangePercent > 0)
                    {
                        <span class="stock-up">
                            <i class="fas fa-caret-up"></i>
                            <span class="pr-1">@string.Format("{0:F2}", @stock.Change)</span>
                            @string.Format("{0:P2}", @stock.ChangePercent)

                        </span>
                    }
                    else
                    {
                        <span class="stock-down">
                            <i class="fas fa-caret-down"></i>
                            <span class="pr-1">@string.Format("{0:F2}", @stock.Change)</span>
                            @string.Format("{0:P2}", @stock.ChangePercent)
                        </span>
                    }

                    
                </div>

            }
        </div>
    </div>



