@model IEnumerable<ThatsLife.Models.StockQuote>


<div class="container-fluid d-none d-md-block d-lg-block">
    @if (@Model.First().IsUSMarketOpen)
    {
        <p class="text-success h6 border-bottom">US Markets Open</p>
    }
    else
    {
        <p class="text-danger small  border-bottom">US Markets Closed</p>
    }


    <div class="row border-bottom pb-4">
        @foreach (var stock in Model)
        {
            <div class="col border-right border-left">
                <div class="font-weight-bolder">@stock.Symbol</div>

                @if (@stock.ChangePercent > 0)
                {
                    <span class="ticker-stock-up">
                        <i class="fas fa-caret-up"></i>
                        @string.Format("{0:P2}", @stock.ChangePercent)
                    </span>
                }
                else
                {
                    <span class="ticker-stock-down">
                        <i class="fas fa-caret-down"></i>
                        @string.Format("{0:P2}", @stock.ChangePercent)
                    </span>
                }
                <span class="float-right">@string.Format("{0:C}", @stock.LatestPrice)</span>
            </div>

        }
    </div>
</div>



